@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/OpenSans-Regular.woff');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../fonts/OpenSans-SemiBold.woff');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.woff');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

body {
    font-family: "Open Sans SemiBold", sans-serif;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-top-wrap {
    width: 100%;
    background-color: #303030;
    background-image: linear-gradient(to right, rgba(48, 48, 48, 1), rgba(48, 48, 48, 0.9)), url("../img/gears.svg");
    background-size: 50%;
    background-repeat: repeat-y;
    background-position: right -10px bottom -30px;
}

.light-color {
    color: #aaa;
}

.header-top {
    /*width: 1200px;*/
    height: 53px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu-link {
    display: flex;
    align-items: center;
    margin-right: 25px;
    height: 100%;
    border-bottom: transparent solid 3px;
    color: #fff;
}

.main-menu-link:where(.active, :hover) {
    border-bottom: #ec8025 solid 3px;
}

.main-menu-link:last-child {
    margin: 0;
}

.user-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /*width: 58px;*/
}

.user-account-icon {
    height: 25px;
}

.header-bottom-wrap {
    width: 100%;
    background: #f8f8f8;
    box-shadow: 0 0 5px #303030;
}

.header-bottom {
    /*width: 1200px;*/
    height: 100px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.logo-img {
    margin-right: 30px;
}

.slogan-and-search {
    height: 76px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-goods {
    width: 400px;
    padding: 10px;
    border: #ec8025 solid 3px;
    font-size: 16px;
    outline: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}

.contacts:last-child {
    margin: 0;
}


.sidebar {
    position: absolute;
    left: 0;
    top: 153px;
    width: 300px;
    /*height: calc(100vh - 153px);*/
    height: 100vh;
    background: #f8f8f8;
    /*box-shadow: 0 0 5px #303030;*/
    border-top: 2px solid #ececec;
}
/*.sidebar:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: -6px;*/
/*    width: calc(100% + 6px);*/
/*    height: 6px;*/
/*    background: #f8f8f8;*/
/*}*/

main {
    position: relative;
    /*height: 500px;*/
    margin-top: 153px;
    margin-left: 300px;
    padding: 35px 25px;
    background: #fff;
    /*box-shadow: 3px 0 3px #303030 inset;*/
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    /*height: calc(100%);*/
    height: 100%;
    width: 1px;
    box-shadow: 0 0 7px #303030 ;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.sidebar li {
    display: flex;
}

.sidebar a {
    /*display: flex;*/
    width: 100%;
    /*padding: 16px 10px 16px 50px;*/
    padding: 12px 25px 12px 60px;
    border-bottom: 2px solid #ececec;
    text-transform: uppercase;
    background-size: 20px;
    background-position: 25px 50%;
    background-repeat: no-repeat;
}

.index-categories {
    display: flex;
    flex-wrap: wrap;
}

.index-categories h2 {
    width: 100%;
    margin-bottom: 46px;
    font-size: 24px;
}

.index-categories-block {
    width: 25%;
    height: 200px;
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid #ec8025;
}

.index-categories-block h3 {
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
}