/*=========================== Правила ==========================*/
@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/OpenSans-Regular.woff');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../fonts/OpenSans-SemiBold.woff');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-size: 14px;
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.woff');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

/*:root {*/
/*    --orange-border-color: #ec8025;*/
/*    --grey-border-color: #ececec;*/
/*}*/

/*========================== Общие свойства =======================*/
html {
    box-sizing: border-box;
    --orange-border-color: #ec8025;
    --grey-border-color: #ececec;
    --dark: #303030;
}

*,
*::before,
*::after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-indent: 0;
}

body {
    font-family: "Open Sans SemiBold", sans-serif;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 45px;
}

section h2 {
    width: 100%;
    margin-bottom: 30px;
    font-size: 24px;
}

/*========================== Хедер ========================*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
/*----------------------- Верхний хедер --------------------*/
.header-top-wrap {
    width: 100%;
    background-color: var(--dark);
    background-image: linear-gradient(to right, rgba(48, 48, 48, 1), rgba(48, 48, 48, 0.9)), url("../img/gears.svg");
    background-size: 50%;
    background-repeat: repeat-y;
    background-position: right -10px bottom -30px;
}

.light-color {
    color: #aaa;
}

.header-top {
    height: 53px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*-------------------- Главное меню ------------------*/
.main-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu-link {
    display: flex;
    align-items: center;
    margin-right: 25px;
    height: 100%;
    border-bottom: transparent solid 3px;
    color: #fff;
}

.main-menu-link:where(.active, :hover) {
    border-bottom: var(--orange-border-color) solid 3px;
}

.main-menu-link:last-child {
    margin: 0;
}
/*--------------------- Блок с акком и корзиной --------------------*/
.user-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.user-account-icon {
    height: 25px;
}
/*------------------- Нижний хедер -------------------*/
.header-bottom-wrap {
    width: 100%;
    background: #f8f8f8;
    box-shadow: 0 0 5px var(--dark);
}

.header-bottom {
    height: 100px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    align-items: center;
}
/*--------------------- Блок с логотипом -----------------*/
.logo-container {
    width: 275px;
}

.logo-img {
    height: 76px;
}
/*----------------------- Блок с остальным контентом ---------------*/
.rest-container {
    min-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slogan-and-search {
    height: 76px;
    /*margin-right: 120px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-goods {
    width: 400px;
    padding: 10px;
    border: var(--orange-border-color) solid 3px;
    font-size: 16px;
    outline: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    /*margin-right: 150px;*/
}

/*========================== Сайдбар ==========================*/
.sidebar {
    position: absolute;
    left: 0;
    top: 153px;
    width: 300px;
    height: 100vh;
    background: #f8f8f8;
    border-top: 2px solid var(--grey-border-color);
}

/*============================ Основной контейнер ===========================*/
main {
    position: relative;
    margin-top: 153px;
    margin-left: 300px;
    padding: 35px 25px;
    background: #fff;
}

main::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 100%;
    width: 2px;
    box-shadow: 0 0 5px var(--dark) ;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.sidebar li {
    display: flex;
}

.sidebar a {
    width: 100%;
    padding: 12px 25px 12px 60px;
    border-bottom: 2px solid var(--grey-border-color);
    text-transform: uppercase;
    background-size: 20px;
    background-position: 25px 50%;
    background-repeat: no-repeat;
}

/*--------------------- Секция Категории ----------------------*/
.index-categories-block {
    width: 25%;
    height: 200px;
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid var(--orange-border-color);
}

.index-categories-block h3 {
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
}

.index-categories-block:last-child {
    border: none;
}

/*------------------------- Секция Новости ------------------------*/
.index-news-block {
    max-width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: solid 3px var(--grey-border-color)
}

.index-news h3 {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
    border-bottom: solid 3px var(--orange-border-color);
    font-size: 12px;
}

.news-description {
    width: 100%;
    margin-bottom: 20px;
    color: var(--dark);
}

.news-thumbnail {
    width: 100%;
}

/*------------------------- Секция Причины ------------------------*/
.reasons-block {
    position: relative;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column-reverse;
    align-items: center;
    width: 18%;
    height: 80px;
    padding-bottom: 20px;
    border: 3px solid var(--grey-border-color);
}

.reasons-block p {
    /*margin: 0 auto;*/
    /*position: relative;*/
    /*z-index: 2;*/
}

.reasons-icon-container {
    position: absolute;
    bottom: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
    background-color: #fff;
}

.reasons-icon-01 {
    width: 60%;
    height: 100%;
    background: linear-gradient(to right, yellow, red);
    -webkit-mask-image: url('../img/reason-01.svg');
    mask-image: url('../img/reason-01.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

