html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
    margin: 0 auto;
    max-width: 1218px;
}

.header-top {
    display: flex;
    align-items: center;
    background-color: grey;
}

.main-menu {
    display: inherit;
    background-color: aquamarine;
}

.main-menu-link {
    padding: 0 10px;
}
