<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% load static %}
  <link rel="stylesheet" href={% static 'shop/css/normalize.css' %}>
  <link rel="stylesheet" href={% static 'shop/css/style.css' %}>

  <title>Подшипник - Главная</title>
</head>
<body>
  <div class="div">
    <p>Hello, World!</p>
  </div>
</body>
</html>
