<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% load static %}
  <link rel="stylesheet" href={% static 'shop/css/normalize.css' %}>
  <link rel="stylesheet" href={% static 'shop/css/style.css' %}>

  <title>Подшипник - Главная</title>
</head>

<body>
  <header class="header">  {# Общий хедер #}
    <div class="header-top-wrap">  {# Враппер верхнего хедера. Нужен для бэкграунда на всю ширину экрана #}
      <div class="header-top">  {# Сам верхний хедер. Нужен для задания горизонтальных паддингов. #}
        <nav class="main-menu">  {# Главное меню. TODO Наполнение циклом и подчеркивание текущей страницы #}
          {% with active_page=request.path_info %}  {# Временная реализация #}
            {% url "shop:main" as the_url %}
            <a href="{{ the_url }}" class="main-menu-link {% if active_page == the_url %}active{% endif %}">Главная</a>
            {% url "shop:about" as the_url %}
            <a href="{{ the_url }}" class="main-menu-link {% if active_page == the_url %}active{% endif %}">О&nbsp;нас</a>
            <a class="main-menu-link">Оплата и&nbsp;доставка</a>
            <a class="main-menu-link">Политика возврата</a>
            <a class="main-menu-link">Гарантия</a>
            <a class="main-menu-link">Контакты</a>
          {% endwith %}
        </nav>

        <div class="user-account">  {# Блок со ссылками в личку и корзину #}
{#          <a href="#" ><img class="user-account-icon" src="{% static 'shop/img/user-login.svg' %}" alt=""></a>#}
          <a><img class="user-account-icon" src="{% static 'shop/img/shopping-cart.svg' %}" alt=""></a>
        </div>
      </div>
    </div>

    <div class="header-bottom-wrap">  {# Нижний хедер-враппер. Нужен для бэкграунда на всю ширину экрана. #}
      <div class="header-bottom">  {# Сам нижний хедер. Зададим горизонтальные паддинги. #}

        <div class="logo-container">  {# Контейнер для расположения логотипа #}
          <img class="logo-img" src="{% static 'shop/img/bga-logo.svg' %}" alt="Лого БГА>">
        </div>

        <div class="rest-container">  {# В этом контейнере все остальное - строка поиска, контакты #}
          <div class="slogan-and-search">  {# Блок со слоганом и строкой поиска #}
            <span class="slogan light-color">Lorem ipsum dolor sit amet</span>  {# Слоган #}

            <input class="search-goods" autofocus type="search">  {# Строка поиска #}
          </div>

          <div class="contacts">  {# Блок с контактами #}
            <a href="tel:88000000000" class="tel">8-800-000-00-00</a>
            <a href="mailto:test@test.ru" class="mailto">test@test.ru</a>
            <span class="contact-description light-color">Отдел оборудования</span>
          </div>

          <div class="contacts">
            <a href="tel:88000000000" class="tel">8-800-000-00-00</a>
            <a href="mailto:test@test.ru" class="mailto">test@test.ru</a>
            <span class="contact-description light-color">Отдел оборудования</span>
          </div>
        </div>
      </div>
    </div>

    <nav class="sidebar">
      <ul>
        <li><a style="background-image: url('../../static/shop/img/gear-sidebar.svg')" href="javascript:void(0)">Резино-технические изделия</a></li>
        <li><a style="background-image: url('../../static/shop/img/gear-sidebar.svg')" href="javascript:void(0)">Подшипники</a></li>
        <li><a style="background-image: url('../../static/shop/img/gear-sidebar.svg')" href="javascript:void(0)">Электроника</a></li>
        <li><a style="background-image: url('../../static/shop/img/gear-sidebar.svg')" href="javascript:void(0)">Направляющие</a></li>
        <li><a style="background-image: url('../../static/shop/img/gear-sidebar.svg')" href="javascript:void(0)">Режущий инструмент</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="index-categories">
      <h2>Категории</h2>

      <a class="index-categories-block" href="javascript:void(0)">
        <h3>Запчасти и&nbsp;комплектующие</h3>

        <img src="{% static 'shop/img/wheel.png' %}" alt="Изображение запчастей" class="categories-image">
      </a>

      <a class="index-categories-block" href="javascript:void(0)">
        <h3>Режущий инструмент</h3>

        <img src="{% static 'shop/img/wheel.png' %}" alt="Изображение инструмента" class="categories-image">
      </a>

      <a class="index-categories-block" href="javascript:void(0)">
        <h3>Оборудование</h3>

        <img src="{% static 'shop/img/wheel.png' %}" alt="Изображение оборудования" class="categories-image">
      </a>

      <a class="index-categories-block" href="javascript:void(0)">
        <h3>Б/у оборудование</h3>

        <img src="{% static 'shop/img/wheel.png' %}" alt="Изображение оборудования" class="categories-image">
      </a>
    </section>

    <section class="index-news">
      <h2>Новости</h2>

      <a class="index-news-block" href="#">
        <h3 class="light-color">Поступил новый товар</h3>

        <p class="news-description">
          Электронный пневмоклапан
        </p>

        <img class="news-thumbnail" src="{% static 'shop/img/valve.jpg' %}" alt="Электронный пневмоклапан">
      </a>

      <a class="index-news-block" href="javascript:void(0)">
        <h3 class="light-color">Поступил новый товар</h3>

        <p class="news-description">
          Электронный пневмоклапан
        </p>

        <img class="news-thumbnail" src="{% static 'shop/img/valve.jpg' %}" alt="Электронный пневмоклапан">
      </a>

      <a class="index-news-block" href="javascript:void(0)">
        <h3 class="light-color">Поступил новый товар</h3>

        <p class="news-description">
          Электронный пневмоклапан
        </p>

        <img class="news-thumbnail" src="{% static 'shop/img/valve.jpg' %}" alt="Электронный пневмоклапан">
      </a>

      <a class="index-news-block" href="javascript:void(0)">
        <h3 class="light-color">Поступил новый товар</h3>

        <p class="news-description">
          Электронный пневмоклапан
        </p>

        <img class="news-thumbnail" src="{% static 'shop/img/valve.jpg' %}" alt="Электронный пневмоклапан">
      </a>
    </section>

    <section class="reasons">
      <h2>5 причин выбрать нас</h2>

      <div class="reasons-block b-01">
        <p>Лучшие цены</p>
      </div>

      <div class="reasons-block b-02">
        <p>Прямые поставки</p>
      </div>

      <div class="reasons-block b-03">
        <p>Гарантия</p>
      </div>

      <div class="reasons-block b-04">
        <p>Пусконаладка</p>
      </div>

      <div class="reasons-block b-05">
        <p>Доставка</p>
      </div>
    </section>
  </main>

  <footer>
    <p style="color: white">Тут будет усякая хашлама</p>
  </footer>
</body>
</html>
