<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% load static %}
  <link rel="stylesheet" href={% static 'shop/css/normalize.css' %}>
  <link rel="stylesheet" href={% static 'shop/css/style.css' %}>

  <title>Подшипник - Главная</title>
</head>
<body>
  <header class="header">
    <div class="header-container">
      <div class="header-top">
        <nav class="main-menu">
          {% with active_page=request.path_info %}
            {% url "shop:main" as the_url %}
            <a href="{{ the_url }}" class="main-menu-link {% if active_page == the_url %}active{% endif %}">Главная</a>
            {% url "shop:about" as the_url %}
            <a href="{{ the_url }}" class="main-menu-link {% if active_page == the_url %}active{% endif %}">О&nbsp;нас</a>
            <a href="#" class="main-menu-link">Оплата и&nbsp;доставка</a>
            <a href="#" class="main-menu-link">Политика возврата</a>
            <a href="#" class="main-menu-link">Гарантия</a>
            <a href="#" class="main-menu-link">Контакты</a>
          {% endwith %}
        </nav>

        <div class="user-account">
          <a href="#" ><img class="user-account-icon" src="{% static 'shop/img/user-login.svg' %}" alt=""></a>
          <a href="#" ><img class="user-account-icon" src="{% static 'shop/img/shopping-cart.svg' %}" alt=""></a>
        </div>
      </div>
    </div>
  </header>

</body>
</html>
